<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.macinternetservices.sablebusinessdirectory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name = "android.permission.CAMERA" />
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name = "android.permission.CALL_PHONE" />
    <uses-permission android:name = "android.permission.ACCESS_BACKGROUND_LOCATION" />





    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:label="Sable Business Directory"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher_round">

        <activity android:name="com.macinternetservices.sablebusinessdirectory.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.macinternetservices.sablebusinessdirectory.MainActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name="com.macinternetservices.sablebusinessdirectory.AddListingActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name="com.macinternetservices.sablebusinessdirectory.ReviewActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name="com.macinternetservices.sablebusinessdirectory.ListReviewActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name="com.macinternetservices.sablebusinessdirectory.LoginActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name="com.macinternetservices.sablebusinessdirectory.MarkerClusteringActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name="com.macinternetservices.sablebusinessdirectory.PermissionRationaleActivity"
            android:label="@string/app_name">
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA0z-StPb8vOytQ2vY1KhFhJBkm1X5CBXs"/>
        <!--meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" / -->

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>

            <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
                android:value="@string/facebook_app_id"/>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.macinternetservices.sablebusinessdirectory.easyphotopicker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/easyimage_filepaths" />
        </provider>

        <service
            android:name=".GeofenceReceiver"
            android:exported="false"
            android:enabled="true">
        </service>

        <receiver
            android:name=".GeofenceReceiver"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="me.hoen.geofence_21.ACTION_RECEIVE_GEOFENCE" />
            </intent-filter>
        </receiver>
        <service
            android:enabled="true"
            android:name=".GeolocationService"
   android:icon="@drawable/logo">
            <!--        android:label="@string/app_name"-->
        </service>
    </application>
    <queries>
        <package android:name="com.facebook.katana" />
    </queries>
</manifest>